﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Available categories list:</h1>
    
    @if (ViewBag.categories.Count > 0)
    {
        <ul>
            @foreach (Category category in ViewBag.categories)
            {
                <li>
                    <a asp-controller="Category" asp-action="Index" asp-route-categoryId="@category.Id">
                        @category.Name
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <h2>No categories available!</h2>
    }
</div>
