@model SnowStore.Web.ViewModels.ResourcesManage.CategoryViewModel

<h2>
    Add new Category
</h2>

<form method="post" asp-action="AddCategory" asp-controller="ResourcesManage">
    <p>
        Category name: <input type="text" name="Name">
    </p>
    <p>
        <input type="submit"/>
    </p>
</form>