@model SnowStore.Web.ViewModels.ResourcesManage.ProductViewModel

<h2>Add new Product</h2>

<form method="post" asp-action="AddProduct" asp-controller="ResourcesManage">
    <p>
        Product name: <input type="text" name="Name">
    </p>
    <p>
        Product image url: <input type="text" name="Image" readonly value="https://via.placeholder.com/350x150">
    </p>
    <p>
        Product Description: 
        <textarea name="Description"></textarea>
    </p>
    <p>
        Product Price:
        <input type="number" step="0.5" name="Price">
    </p>
    <p>
        Product Category:
        <select name="CategoryId">
            @foreach (Category category in ViewBag.categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </p>
    <p>
        <input type="submit"/>
    </p>
</form>
