@{
    ViewData["Title"] = "Category details";
    Category category = ViewBag.category;
    List<Product> products = ViewBag.products;
}
<h2>Category name: @category.Name</h2>

<h3>Products list:</h3>

@if (products.Count > 0)
{
    <ul class="list-group list-group-horizontal">
        @foreach (var product in products)
        {
            <li class="list-group-item">
                <div style="display: inline-block">
                    <a asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">
                        <img src="@product.Image"/>
                    </a>
                    <div>
                        <a asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">
                            @product.Name
                        </a>
                    </div>
                    <div>
                        Price: @product.Price.Value @product.Price.Currency
                    </div>
                    <div>
                        @product.Description
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <h5>No products!</h5>
}