@{
    ViewData["Title"] = "Product details";

    Product product = ViewBag.product;
}

<div class="media">
    <img src="@product.Image" class="align-self-start mr-3" alt="@product.Name">
    <div class="media-body">
        <h5 class="mt-0">@product.Name</h5>
        @product.Description
        <p>
            Price: @product.Price.Value @product.Price.Currency
        </p>
    </div>
</div>